@using tacos.mvc.Resources 
@model Submission

<h4>Looking at submission @Model.Id by @Model.Actor</h4>

<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>Course Type</th>
            <th>Request Type</th>
            <th>Contested?</th>
            <th>ContestReason</th>
            <th>Total</th>
            <th>Approved?</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var request in Model.Requests) {
            <tr>
                <td>@request.CourseNumber</td>
                <td>@CourseInfo.Types[request.CourseType]</td>
                <td>@CourseInfo.Requests[request.RequestType]</td>
                <td>@request.Contested</td>
                <td>@request.ContestReason</td>
                <td>@request.CalculatedTotal</td>
                <td>@request.Approved</td>
            </tr>
        }
    </tbody>
</table>