@using tacos.mvc.Resources
@model Request[]

<div class="container-fluid py-4">
    <table class="table table-bordered" id="requestTable">
        <thead>
            <tr>
                <th>Submission</th>
                <th>Department</th>
                <th>Submitter</th>
                <th>Date</th>
                <th>Course</th>
                <th>Course Type</th>
                <th>Average Sections</th>
                <th>Average Enrollment</th>
                <th>Request Type</th>
                <th>Exception Reason</th>
                <th>Exception TAs per course</th>
                <th>Approved TAs per course</th>
                <th>Approved Annualized Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@request.Id</td>
                    <td>@request.Department</td>
                    <td>@request.UpdatedBy</td>
                    <td>@request.UpdatedOn.ToLocalTime().ToShortDateString()</td>
                    <td>@request.CourseNumber</td>
                    <td>@CourseInfo.Types[request.CourseType]</td>
                    <td>@request.Course.AverageSectionsPerCourse</td>
                    <td>@request.Course.AverageEnrollment</td>
                    <td>@CourseInfo.Requests[request.RequestType]</td>
                    <td>@request.ExceptionReason</td>
                    <td>@(request.Exception ? request.ExceptionTotal.ToString("f3") : "")</td>
                    <td>@request.ApprovedTotal.ToString("f3")</td>
                    <td>@request.ApprovedAnnualizedTotal.ToString("f3")</td>
                    <td>
                        @if (!@request.Approved.HasValue)
                        {
                            <form class="form-inline" asp-action="Edit" asp-route-id="@request.Id" method="POST">
                                <button type="submit" name="decision" value="APPROVE" class="btn btn-primary mb-2">Approve</button>
                                <button type="submit" name="decision" value="DENY" class="btn btn-primary mb-2">DENY</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="table-info">
                <td colspan="11"></td>
                <td>Total:</td>
                <td>
                    @Model.Sum(r => r.ApprovedAnnualizedTotal).ToString("f3")
                </td>
                <td>&nbsp;</td>
            </tr>
        </tfoot>
    </table>
</div>

@section scripts {
    <script>
        $(function () {
            $('#requestTable').DataTable({
                "paging": false,
                "info": false,
                "order": [[11, "desc"], [4, "asc"]],
                "columnDefs": [
                    {
                        "targets": [-1],
                        "sortable": false
                    }],
                "fixedHeader": true,
                "dom": 
                    "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6 d-flex justify-content-end align-items-baseline'fB>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                "buttons": [
                   "excel"
                ]
            });
        });
    </script>
}
