@using tacos.mvc.Resources 
@model Submission[]

@{
    var allRequests = Model.SelectMany(s=>s.Requests);
}

@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.css"/>
}

<table class="table" id="requestTable">
    <thead>
        <tr>
            <th>Course</th>
            <th>Course Type</th>
            <th>Request Type</th>
            <th>ContestReason</th>
            <th>ContestTotal</th>
            <th>CalculatedTotal</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var request in allRequests) {
            <tr>
                <td>@request.CourseNumber</td>
                <td>@CourseInfo.Types[request.CourseType]</td>
                <td>@CourseInfo.Requests[request.RequestType]</td>
                <td>@request.ContestReason</td>
                <td>@(request.Contested ? request.ContestTotal.ToString() : "")</td>
                <td>@request.CalculatedTotal</td>
                <td>@request.Total</td>
                <td>
                    @if (!@request.Approved.HasValue) {
                        <form class="form-inline" asp-action="Edit" asp-route-id="@request.Id" method="POST">
                            <button type="submit" name="decision" value="APPROVE" class="btn btn-primary mb-2">Approve</button>
                            <button type="submit" name="decision" value="DENY" class="btn btn-primary mb-2">DENY</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5"></td>
            <td>Total:</td>
            <td colspan="2">
                @allRequests.Sum(r=>r.Total)
            </td>
        </tr>
    </tfoot>
</table>

@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/datatables.js"></script>
    <script>
        $(document).ready( function () {
            $('#requestTable').DataTable({
                "paging": false,
                "info": false,
                "order": [[ 7, "desc" ], [0, "asc"]],
                dom: 'Bfrtip',
                buttons: [
                    'excel'
                ]
            });
        } );
    </script>
}