@using tacos.mvc.Resources 
@model Submission[]

@{
    var allRequests = Model.SelectMany(s=>s.Requests);
}

<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>Course Type</th>
            <th>Request Type</th>
            <th>ContestReason</th>
            <th>ContestTotal</th>
            <th>CalculatedTotal</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var request in allRequests) {
            <tr>
                <td>@request.CourseNumber</td>
                <td>@CourseInfo.Types[request.CourseType]</td>
                <td>@CourseInfo.Requests[request.RequestType]</td>
                <td>@request.ContestReason</td>
                <td>@(request.Contested ? request.ContestTotal.ToString() : "")</td>
                <td>@request.CalculatedTotal</td>
                <td>@request.Total</td>
                <td>
                    @if (!@request.Approved.HasValue) {
                        <form class="form-inline" asp-action="Edit" asp-route-id="@request.Id" method="POST">
                            <button type="submit" name="decision" value="APPROVE" class="btn btn-primary mb-2">Approve</button>
                            <button type="submit" name="decision" value="DENY" class="btn btn-primary mb-2">DENY</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5"></td>
            <td>Total:</td>
            <td colspan="2">
                @allRequests.Sum(r=>r.Total)
            </td>
        </tr>
    </tfoot>
</table>