@using tacos.core.Resources
@model tacos.core.Data.Request[]

<div class="container-fluid py-4">
    <table class="table table-bordered" id="requestTable">
        <thead>
            <tr>
                <th>Submission</th>
                <th>Department</th>
                <th>Submitter</th>
                <th>Date</th>
                <th>Course</th>
                <th>Course Type</th>
                <th>Average Sections</th>
                <th>Average Enrollment</th>
                <th>Request Type</th>
                <th>Exception Reason</th>
                <th>Exception TAs per course</th>
                <th>Approved TAs per course</th>
                <th>Approved Annualized Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr data-id="@request.Id">
                    <td>@request.Id</td>
                    <td>@request.Department</td>
                    <td>@request.UpdatedBy</td>
                    <td>@request.UpdatedOn.ToLocalTime().ToShortDateString()</td>
                    <td>@request.CourseNumber</td>
                    <td>@CourseInfo.Types[request.CourseType]</td>
                    <td>@request.Course.AverageSectionsPerCourse</td>
                    <td>@request.Course.AverageEnrollment.ToString("0.##")</td>
                    <td>@CourseInfo.Requests[request.RequestType]</td>
                    <td>@request.ExceptionReason</td>
                    <td>@(request.Exception ? request.ExceptionTotal.ToString("f3") : "")</td>
                    <td>@request.ApprovedTotal.ToString("f3")</td>
                    <td>@request.ApprovedAnnualizedTotal.ToString("f3")</td>
                    <td>
                        @if (!request.Approved.HasValue)
                        {
                            <form class="form-inline" asp-action="Edit" asp-route-id="@request.Id" method="POST">
                                <input type="hidden" name="approved" value="true" />
                                <button type="submit" class="btn btn-primary mb-2 approval-form-submit">
                                    <span class="approval-form-submit-text">Approve</span>
                                    <span class="approval-form-submit-loading-icon" style="display: none;"><i class="fas fa-circle-notch fa-spin"></i></span>
                                </button>
                            </form>
                            <button class="btn btn-primary mb-2" data-toggle="modal" data-target="#denialModal">Deny</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="table-info">
                <td colspan="11"></td>
                <td>Total:</td>
                <td>
                    @Model.Sum(r => r.ApprovedAnnualizedTotal).ToString("f3")
                </td>
                <td>&nbsp;</td>
            </tr>
        </tfoot>
    </table>
</div>

<form id="denialForm" asp-action="Edit" asp-route-id="0" method="post">
    <input type="hidden" name="approved" value="false" />

    <div class="modal fade" id="denialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deny Exception?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="denialFormComment" class="form-control" name="comment" placeholder="Comment on denial..."></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary deny-form-submit">
                        <span class="deny-form-submit-text">Deny Exception</span>
                        <span class="deny-form-submit-loading-icon" style="display: none;"><i class="fas fa-circle-notch fa-spin"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>

@section scripts {
    <script>
        $(function() {
            var table = $('#requestTable').DataTable({
                //"paging": false,
                //"info": false,
                "order": [[11, "desc"], [4, "asc"]],
                "columnDefs": [
                    {
                        "targets": [-1],
                        //"sortable": false
                    }
                ],
                "fixedHeader": true,
                "dom":
                    "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6 d-flex justify-content-end align-items-baseline'fB>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                "buttons": [
                    "excel"
                ]
            });
        });

        var editUrl = '@Url.Action("Edit", new {id = "00000"})';

        $('#denialModal').on('show.bs.modal',
            function(e) {
                var trigger = $(e.relatedTarget);
                var id = trigger.parents('tr').data('id');
                var url = editUrl.replace('00000', id);

                // reset form
                $('#denialFormComment').val('');

                // update url with id
                $('#denialForm').attr('action', url);
            });

        $('.approval-form-submit').click(function () {
            // disable all buttons at the same level
            $(this).parents('#requestTable tr td').find('button').attr('disabled', true);

            $(this).find('.approval-form-submit-text').hide();
            $(this).find('.approval-form-submit-loading-icon').show();
        });

        $('.deny-form-submit').click(function () {
            // disable all buttons at the same level
            $(this).parent().find('button').attr('disabled', true);

            $(this).find('.deny-form-submit-text').hide();
            $(this).find('.deny-form-submit-loading-icon').show();
        });
    </script>
}
