@using tacos.mvc.Resources
@model Request[]

<div class="container my-4">

    <h3>Your submissions</h3>

    <table id="requestTable" class="table table-bordered">
        <thead>
            <tr>
                <th>Course Number</th>
                <th>Course Type</th>
                <th>Updated On</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@request.Id">
                        @request.CourseNumber
                    </a>
                </td>
                <td>
                    @CourseInfo.Types[request.CourseType]
                </td>
                <td data-order="@request.UpdatedOn.Ticks">
                    @request.UpdatedOn.ToString("d")
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@request.Id" class="btn btn-primary">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <a class="btn btn-primary" asp-controller="Requests" asp-action="create">Create New Submission</a>
</div>

@section scripts
{
    <script>
        $('#requestTable').DataTable({
            "columnDefs": [
                {
                    "targets": [-1],
                    "sortable": false,
                }],
            "language": {
                "emptyTable": "You have no submissions :("
            }
        });
    </script>
}
