@using tacos.core.Resources
@model tacos.core.Data.Request[]

<div class="tacos-page-shell tacos-page-shell--full">
    <div>
        <table class="table tacos-page-table w-full" id="requestTable">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Course</th>
                    <th>Submitter</th>
                    <th>Date</th>
                    <th>Course Type</th>
                    <th>Average Sections</th>
                    <th>Average Enrollment</th>
                    <th>Exception Reason</th>
                    <th>Exception TA % per course</th>
                    <th>Exception Reader % per course</th>
                    <th>Exception Annual Count</th>
                    <th>Approved TA % per course</th>
                    <th>Approved Reader % per course</th>
                    <th>Approved Annualized TA FTE</th>
                    <th>Approved Annualized Reader FTE</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var request in Model)
            {
                <tr>
                    <td>@request.Department.Code</td>
                    <td><a asp-controller="Requests" asp-action="Details" asp-route-id="@request.Id">@request.CourseNumber</a></td>
                    <td>@request.UpdatedBy</td>
                    <td>@request.UpdatedOn.ToLocalTime().ToShortDateString()</td>
                    <td>@CourseInfo.Types[request.CourseType]</td>
                    <td>@request.Course.AverageSectionsPerCourse</td>
                    <td>@request.Course.AverageEnrollment.ToString("0.##")</td>
                    <td>@(request.Exception ? request.ExceptionReason : "")</td>
                    <td>@(request.Exception ? request.ExceptionTaTotal.ToString("f3") : "")</td>
                    <td>@(request.Exception ? request.ExceptionReaderTotal.ToString("f3") : "")</td>
                    <td>@(request.Exception ? request.ExceptionAnnualCount.ToString("f3"): "")</td>
                    <td>@request.ApprovedTaTotal.ToString("f3")</td>
                    <td>@request.ApprovedReaderTotal.ToString("f3")</td>
                    <td>@request.ApprovedAnnualizedTaTotal.ToString("f3")</td>
                    <td>@request.ApprovedAnnualizedReaderTotal.ToString("f3")</td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr class="tacos-page-table__summary">
                <td colspan="12"></td>
                <td>Total:</td>
                <td>
                    @Model.Sum(r => r.ApprovedAnnualizedTaTotal).ToString("f3")
                </td>
                <td>
                    @Model.Sum(r => r.ApprovedAnnualizedReaderTotal).ToString("f3")
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('#requestTable').DataTable({
                "paging": false,
                "info": false,
                "order": [[2, "desc"]],
                "fixedHeader": true,
                "dom": window.TacosDataTables.dom.withButtons,
                "buttons": [
                    "excel"
                ]
            });
        });
    </script>
}
