@using tacos.core.Resources
@model tacos.core.Data.Request[]

<div class="container-fluid my-4">
    <table class="table table-bordered" id="requestTable">
        <thead>
            <tr>
                <th>Department</th>
                <th>Course</th>
                <th>Submitter</th>
                <th>Date</th>
                <th>Course Type</th>
                <th>Average Sections</th>
                <th>Average Enrollment</th>
                <th>Request Type</th>
                <th>Exception Reason</th>
                <th>Exception TAs per course</th>
                <th>Approved TAs per course</th>
                <th>Approved Annualized Total</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var request in Model)
        {
            <tr>
                <td>@request.Department.Code</td>
                <td><a asp-controller="Requests" asp-action="Details" asp-route-id="@request.Id">@request.CourseNumber</a></td>
                <td>@request.UpdatedBy</td>
                <td>@request.UpdatedOn.ToLocalTime().ToShortDateString()</td>
                <td>@CourseInfo.Types[request.CourseType]</td>
                <td>@request.Course.AverageSectionsPerCourse</td>
                <td>@request.Course.AverageEnrollment.ToString("0.##")</td>
                <td>@CourseInfo.Requests[request.RequestType]</td>
                <td>@request.ExceptionReason</td>
                <td>@(request.Exception ? request.ExceptionTotal.ToString("f3") : "")</td>
                <td>@request.ApprovedTotal.ToString("f3")</td>
                <td>@request.ApprovedAnnualizedTotal.ToString("f3")</td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr class="table-info">
            <td colspan="10"></td>
            <td>Total:</td>
            <td>
                @Model.Sum(r => r.ApprovedAnnualizedTotal).ToString("f3")
            </td>
        </tr>
        </tfoot>
    </table>
</div>

@section scripts {
    <script>
        $(function () {
            $('#requestTable').DataTable({
                "paging": false,
                "info": false,
                "order": [[2, "desc"]],
                "fixedHeader": true,
                "dom": 
                    "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6 d-flex justify-content-end align-items-baseline'fB>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                "buttons": [
                    "excel"
                ]
            });
        });
    </script>
}
