@model Submission

<h4>Details about your submission placed on @Model.Created.ToLongDateString()</h4>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Course</th>
            <th>Exception TAs per course</th>
            <th>Approved TAs per course</th>
            <th>Approved Annualized Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var request in Model.Requests) {
            <tr>
                <td>@request.CourseNumber</td>
                <td>@(request.Exception ? request.ExceptionTotal.ToString("f3") : "")</td>
                <td>@request.ApprovedTotal.ToString("f3")</td>
                <td>@request.ApprovedAnnualizedTotal.ToString("f3")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="table-info">
            <td colspan="3">
                Total
            </td>
            <td>
                @Model.Requests.Sum(x=>x.ApprovedAnnualizedTotal).ToString("f3")
            </td>
        </tr>
    </tfoot>
</table>